# URL de la page PHP du formulaire d'envoi d'emails (présentation)
NEXT_PUBLIC_PRESENTATION_FORM_URL=http://localhost/send%20mail/

# URL des API PHP pour l'envoi (côté serveur Next.js)
PRESENTATION_API_URL=http://localhost/send%20mail/api/send-presentation.php
CONTACT_API_URL=http://localhost/send%20mail/api/send-contact.php
